.container
	width: 960px
	max-width: 95%
	margin: 0 auto;
	&:after
		content: ""
		display: block
		clear: both
	img
		width: 100%
	.product
		width: 24%
		margin: 0px 0.5% 0px 0.5%
		float: left
		.name
			font-size: 20px
			text-transform: uppercase
			color: blue
		.price
			font-size: 14px
			letter-spacing: 1px
			margin: 10px 0px
		a
			display: inline-block
			padding: 10px 15px
			background: rgba(black, 0.4)
			color: white
